@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--LightGray);
    min-height: 100vh;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
  
}

#QRImage {
    width: 275px;
    height: 100%;
    padding: 0px;
    border-radius: 10px;
}
#imgDiv { 
    width: 100%;
    text-align: center;
    padding: 15px 10px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 305px;
    height: 480px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(123, 135, 157, .2);
}
.textContainer {
    text-align: center;
    padding: 10px 15px;
}
h1 {
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 15px;
    color: var(--DarkBlue);
}
p {
    font-size:  0.9375em; 
    color: var(--GrayishBlue);
    margin-bottom: 20px;
}
.attribution { font-size: 0.6875em; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }